#messages {
    height: 300px;
    overflow-y: scroll;
}

#app {
    margin-top: 2rem;
}

.chat-container {
    position: relative;
    color: white;
    background-color: #144b7d;
}

.chat-input {
    padding: 0 0.5rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.chat-input input {
    width: 100%;
}

.chat-input svg {
    cursor: pointer;
    margin: 0.3rem !important;
}

.chat-input-text {
    width: 100%;
}

.chat-message-box {
    background-color: white;
    margin: 0.1rem;
    padding: 0.1rem;
    color: #464646;
    line-height: 26px;
    font-size: 1rem;
    border-radius: 7px;
    margin-bottom: 1rem;
    position: relative;

    justify-content: start;
    display: flex;
    padding: 0.1rem 1rem;
}

.chat-message-box::after {
    content: "";
    position: absolute;
    margin: 0px -28px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 14px solid white;
}

.chat-messages-container {
    padding: 1rem;
    width: 100%;
    /* or whatever width you want. */
    /* or whatever width you want. */
    overflow-y: auto;
}

.chat-form {
    display: flex;
}

.chat-form button {
    padding: 0;
}