:root {
    --primary-color: #144b7d;
}

.Button {
    padding: 1rem;
}

.HomePage {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.home_buttons_meeting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_links_account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    font-size: 12px;
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    width: 100%;
    padding: 10px 5px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.calendar_meeting_display {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calendar_meeting_videodisplay {
    width: 50%;
}

.calendar_meeting_buttons {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.calendar_cammic_buttons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}